<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todop List</title>
  </head>
  <body ng-controller="ToDoCtrl">
    <h1>AngularJS WORKS!</h1>
    <div class="btn btn-primary">{{"AngularJS"}}</div>
    <div class="btn btn-primary">Bootstrap</div>
    <div class="page-header">
      <h1>
        Lista rzeczy do zrobienia użytkownika {{ todo.user }}
        <span
          class="badge badge-primary"
          ng-class="warningLevel()"
          ng-hide="!incompleteCount()"
          >{{incompleteCount()}}</span
        >
      </h1>
    </div>
    <div class="panel">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="actionText" />
        <span class="input-group-btn">
          <button class="btn btn-primary" ng-click="addNewItem(actionText)">
            Dodaj
          </button>
        </span>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Opis</th>
          <th>Zrobione</th>
          <tbody>
            <tr ng-repeat="item in todo.items" | filter:{done: false} | orderBy:'action'>
              <td>{{item.action}}</td>
              <td><input type="checkbox" ng-model="item.done" /></td>
              <td>{{item.done}}</td>
            </tr>
          </tbody>
        </tr>
      </thead>
    </table>
  </body>
</html>
